body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #222;
}

#content {
  width: 100%;
}

#main_visual {
  float: left;
}

svg.main {
  background: #222;
}

.sample-point {
  fill: #fff;
}

.label {
  fill: #ddd;
}

.axis {
  fill: #fff;
}

.axis text {
  fill: #ddd;
}

.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #ccc;
}

.box {
  display: block;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.axis path {
  display: none;
}

.axis line {
  shape-rendering: crispEdges;
  stroke: #000;
}

.axis .tick line {
  stroke: #555;
}

svg.axis {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  pointer-events: none;
}

.samples circle {
  fill: white;
  opacity: 0.2;
}

.samples circle.selected {
  fill: red;
  opacity: 1;
}

.pick-line {
  fill: none;
  /* stroke: red; */
  stroke-width: 2px;
  opacity: 0.75;
}

.fader {
  fill: url(#fader-gradient);
}

.top-axis-fader {
  fill: #104;
  opacity: 0.5; 
}

#search-form {
  color: #EEE;
  padding-right: 30px;
  float: right;
  text-align: right;
}

#search-form fieldset {
  border-color: transparent;
}

#search-form label {
  text-align: left;
  margin-right: 10px;
}

#search-form input {
  width: 175px;
}

#search-form select {
  width: 175px;
  text-align: left;
}

#search-form input[type="submit"] {
  margin-right: 15px;
}

#row-count {
  padding-top: 10px;
}

#title {
  color: #EEE;
  padding-left: 10px;
}

#row-offset {
  width: 80px !important;
}

.l_0 { stroke: #7f00ff; }
.c_0 { fill: #7f00ff; }
.l_1 { stroke: #6f19fe; }
.c_1 { fill: #6f19fe; }
.l_2 { stroke: #5f31fd; }
.c_2 { fill: #5f31fd; }
.l_3 { stroke: #4f4afc; }
.c_3 { fill: #4f4afc; }
.l_4 { stroke: #3f61fa; }
.c_4 { fill: #3f61fa; }
.l_5 { stroke: #2f78f7; }
.c_5 { fill: #2f78f7; }
.l_6 { stroke: #1f8ef3; }
.c_6 { fill: #1f8ef3; }
.l_7 { stroke: #0fa2ef; }
.c_7 { fill: #0fa2ef; }
.l_8 { stroke: #00b4eb; }
.c_8 { fill: #00b4eb; }
.l_9 { stroke: #10c5e6; }
.c_9 { fill: #10c5e6; }
.l_10 { stroke: #20d4e0; }
.c_10 { fill: #20d4e0; }
.l_11 { stroke: #30e1da; }
.c_11 { fill: #30e1da; }
.l_12 { stroke: #40ecd3; }
.c_12 { fill: #40ecd3; }
.l_13 { stroke: #50f4cc; }
.c_13 { fill: #50f4cc; }
.l_14 { stroke: #60fac4; }
.c_14 { fill: #60fac4; }
.l_15 { stroke: #70fdbc; }
.c_15 { fill: #70fdbc; }
.l_16 { stroke: #80feb3; }
.c_16 { fill: #80feb3; }
.l_17 { stroke: #90fdaa; }
.c_17 { fill: #90fdaa; }
.l_18 { stroke: #a0f9a1; }
.c_18 { fill: #a0f9a1; }
.l_19 { stroke: #b0f397; }
.c_19 { fill: #b0f397; }
.l_20 { stroke: #c0ea8c; }
.c_20 { fill: #c0ea8c; }
.l_21 { stroke: #d0df82; }
.c_21 { fill: #d0df82; }
.l_22 { stroke: #e0d277; }
.c_22 { fill: #e0d277; }
.l_23 { stroke: #f0c36c; }
.c_23 { fill: #f0c36c; }
.l_24 { stroke: #ffb260; }
.c_24 { fill: #ffb260; }
.l_25 { stroke: #ff9f54; }
.c_25 { fill: #ff9f54; }
.l_26 { stroke: #ff8b48; }
.c_26 { fill: #ff8b48; }
.l_27 { stroke: #ff753c; }
.c_27 { fill: #ff753c; }
.l_28 { stroke: #ff5f30; }
.c_28 { fill: #ff5f30; }
.l_29 { stroke: #ff4724; }
.c_29 { fill: #ff4724; }
.l_30 { stroke: #ff2e17; }
.c_30 { fill: #ff2e17; }
.l_31 { stroke: #ff150a; }
.c_31 { fill: #ff150a; }

#selected-sample {
  color: red;
}
