body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #222;
}

#content {
  width: 100%;
}

#main_visual {
  float: left;
}

svg.main {
  background: #222;
}

.sample-point {
  fill: #fff;
}

.label {
  fill: #ddd;
}

.axis {
  fill: #fff;
}

.axis text {
  fill: #ddd;
}

.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #ccc;
}

.box {
  display: block;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.axis path {
  display: none;
}

.axis line {
  shape-rendering: crispEdges;
  stroke: #000;
}

.axis .tick line {
  stroke: #555;
}

svg.axis {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  pointer-events: none;
}

.samples circle {
  fill: white;
  opacity: 0.2;
}

.samples circle.selected {
  fill: red;
  opacity: 1;
}

.pick-line {
  fill: none;
  stroke: red;
  stroke-width: 2px;
  opacity: 0.5;
}

.fader {
  fill: url(#fader-gradient);
}

.top-axis-fader {
  fill: #104;
  opacity: 0.5; 
}

#search-form {
  color: #EEE;
  padding-right: 30px;
  float: right;
  text-align: right;
}

#search-form fieldset {
  border-color: transparent;
}

#search-form label {
  text-align: left;
  margin-right: 10px;
}

#search-form input {
  width: 175px;
}

#search-form select {
  width: 175px;
  text-align: left;
}

#search-form input[type="submit"] {
  margin-right: 15px;
}

#row-count {
  padding-top: 10px;
}

#title {
  color: #EEE;
  padding-left: 10px;
}

#row-offset {
  width: 80px !important;
}

#selected-sample {
  color: red;
}
